<div class="col_w600 float_l">
    <h4>{{title}}</h4>
    <div id="post_form">
        <form method="post" name="addPost" action="#/entry">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="required input_field"/>
            <div class="cleaner h10"></div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="required input_field" />
            <div class="cleaner h10"></div>
            <label for="email">EMail:</label>
            <input type="text" id="email" name="email" class="required input_field" />
            <div class="cleaner h10"></div>
            <input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l"/>
            <input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r"/>
        </form>
    </div>
</div>
<div class="cleaner h30"></div>